<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TokenRow.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>874E646F22122BAD008F7D82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>874E648222122BAE008F7D82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87A3F31B221221AC006EF96B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87A3F324221221AC006EF96B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
